body {
  background: black;
  color: #00ff00;
  font-family: monospace;
  margin: 0;
  padding: 20px;
}

#terminal {
  padding: 0;
}

input {
  background: black;
  border: none;
  color: #00ff00;
  font-family: monospace;
  outline: none;
  width: 90%;
}

#apps-bar {
  margin-top: 10px;
}

.app-word {
  color: #00ff00;
  cursor: pointer;
  margin-right: 12px;
  text-decoration: underline;
}

.app-word:hover {
  text-decoration: none;
}
